@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Books.Ph</h1>
    <button type="button" class="btn btn-primary">
        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Books</a>
    </button>
</div>
    