@model BookFormModel;

@{
    ViewData["Title"] = "Adding New Book";
}

<form asp-action="CreateBook" enctype="multipart/form-data" asp-controller="Book" method="post">
    <div class="container row mt-5">
        <div class="col-lg-12">
            <h1>Add new book</h1>
            <div class="form-group">
                <label>
                    Book Title
                </label>
                <input required asp-for="Title" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>
                    Book Author
                </label>
                <input required asp-for="Author" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>
                    Book Genre
                </label>
                <input required asp-for="Genre" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>
                    Book ISBN
                </label>
                <input required asp-for="ISBN" type="text" class="form-control" />
            </div>
             <div class="form-group">
                <label>
                    Date Published
                </label>
                <input required asp-for="DatePublished" type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label>
                    Book Cover
                </label> 
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input asp-for="ImageFile" type="file" class="custom-file-input" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <span class="input-group-text" id="">Upload</span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-1"> 
                <button type="submit" class="btn btn-primary">Create Book</button>
                <a asp-action="Index" asp-controller="Book" class="btn btn-danger">Cancel</a> 
            </div>
            
        </div>
    </div>

</form>