@model BooksEntity

@{
    ViewData["Title"] = "Editing a Book";
}

<form asp-action="EditBook" asp-controller="Book" method="post">
    <div class="row">
        <div class="col-lg-12">
            <input readonly asp-for="Id" type="hidden" value=@Model.Id />
            <div class="form-group">
                <label>Id</label>
                <p>@Model.Id</p>
            </div>
            <div class="form-group">
                <label>
                    Book Title
                </label>
                <input required asp-for="Title" type="text" class="form-control" value=@Model.Title/>
            </div>
            <div class="form-group">
                <label>
                    Book Author
                </label>
                <input required asp-for="Author" type="text" class="form-control" value=@Model.Author/>
            </div>
            <div class="form-group">
                <label>
                    Book Genre
                </label>
                <input required asp-for="Genre" type="text" class="form-control" value=@Model.Genre/>
            </div>
            <div class="form-group">
                <label>
                    Book ISBN
                </label>
                <input required asp-for="ISBN" type="text" class="form-control"
                value=@Model.ISBN
                 />
            </div>
            <div class="form-group">
                <label>
                    Date Published
                </label>
                <input required asp-for="DatePublished" type="date" class="form-control" 
                value='@Model.DatePublished.ToString("yyyy-MM-dd")'/>
            </div>
            <div> 
                    <button type="submit" class="btn btn-primary">Edit Book</button>
                    <a asp-action="Index" asp-controller="Book" class="btn btn-danger">Cancel</a> 
            </div>
            
        </div>
    </div>

</form>